---
import type { GetStaticPathsOptions, Page } from 'astro';
import { type CollectionEntry, getCollection } from 'astro:content';
import BaseLayout from '../../layouts/BaseLayout.astro';
import Pagination from '../../components/Pagination.astro';
import PostPreview from '../../components/PostPreview.astro';
import siteConfig from '../../data/site-config';
import { sortItemsByDateDesc } from '../../utils/data-utils';

export async function getStaticPaths({ paginate }: GetStaticPathsOptions) {
    const posts = (await getCollection('stories')).sort(sortItemsByDateDesc);
    return paginate(posts, { pageSize: siteConfig.postsPerPage || 4 });
}

type Props = { page: Page<CollectionEntry<'stories'>> };

const { page } = Astro.props;
const stories = page.data;
---

<BaseLayout
    title="Stories"
    description="Embark on a journey of personal insights and experiences through my stories"
    image={{ src: '/meta-image.jpg', alt: 'The preview of the site' }}
    showHeader={true}
>
    <h1 class="mb-12 text-2xl leading-tight font-serif sm:mb-16 sm:text-4xl">When I think of James&hellip;</h1>
    {stories.map((post) => <PostPreview post={post} class="mb-10 sm:mb-12" />)}
    <Pagination page={page} class="my-16 sm:my-24" />
</BaseLayout>
