@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --color-text-main: 16 13 17; /* BLACK */
        --color-text-light: 242 255 242; /* PALE GREEN */
        --color-bg-main: 242 255 242; /* PALE GREEN */
        --color-bg-muted: 60 49 53; /* MUTED BLACK */
        --color-border-main: 0 255 0; /* LIME GREEN */
    }
    html.dark {
        --color-text-main: 242 255 242; /* PALE GREEN */
        --color-text-light: 16 13 17; /* BLACK */
        --color-bg-main: 16 13 17; /* BLACK */
        --color-bg-muted: 0 255 0; /* LIME GREEN */
        --color-border-main: 0 255 0; /* LIME GREEN */
    }

    /* Cyan */
    /*
    :root {
        --color-text-main: 22 42 43;
        --color-bg-main: 214 224 226;
        --color-bg-muted: 204 216 219;
        --color-border-main: 22 42 43;
    }
    html.dark {
        --color-text-main: 214 224 226;
        --color-bg-main: 22 42 43;
        --color-bg-muted: 28 53 55;
        --color-border-main: 214 224 226;
    }
    */

    /* Green */
    /*
    :root {
        --color-text-main: 58 66 56;
        --color-bg-main: 243 239 230;
        --color-bg-muted: 238 233 220;
        --color-border-main: 58 66 56;
    }
    html.dark {
        --color-text-main: 243 239 230;
        --color-bg-main: 94 108 91;
        --color-bg-muted: 89 103 86;
        --color-border-main: 243 239 230;
    }
    */
}

@font-face {
  font-family: 'Nimbus Sans L';
  src:
    url('/fonts/NimbusSansLReg.woff2') format('woff2'),
    url('/fonts/NimbusSansLReg.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

.button {
  background-color: rgb(16 13 17);
  border: 1px solid rgb(16 13 17);
}

.button + .button {
  background-color: transparent;
  border: 1px solid rgb(16 13 17);
  color: rgb(16 13 17);
}

.button:hover,
.button:focus,
.button + .button:hover,
.button + .button:focus {
  background-color: rgb(0 255 0);
  color: rgb(16 13 17);
}

.button + .button {
  background-color: transparent;
  border: 1px solid rgb(16 13 17);
  color: rgb(16 13 17);
}

.relationship {
  text-transform: lowercase;
}

.skip-link {
  position: absolute;
  left: 3em;
  top: 3em;
  z-index: 1;
}

.skip-link:not(:focus) {
  display: inline-block;
  height: 1px;
  width: 1px;
  min-width: auto;
  max-width: fit-content;
  overflow: hidden;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
}

/* 
TAILWIND OVERRIDES
*/
.leading-tight {
  line-height: 1.125 !important;
}

/* 
VISUALLY HIDDEN UTILITY
Info: https://piccalil.li/quick-tip/visually-hidden/ 
*/
.visually-hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 0;
  margin: 0;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  white-space: nowrap;
}
